.ol__container {
    position: relative;
    margin-top: 5%;
    margin-bottom: 2%;
}

.ol__heading {
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.ol__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1440px;
    margin: 0 auto;
}


.ol__card {
    flex: 1 1 400px; /* grow: 1, shrink: 1, basis: 400px */
    max-width: 400px;
    background-color: #DDC7BB;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ol__img--wrapper {
    object-fit: cover;
    width: 100%;
}

.ol__card--img {
    width: 100%;
    object-fit: cover;
    border-radius: 50px 50px 0px 0px;
}

.ol__card--name {
    font-weight: bold;
}

.ol--info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ol--info--wrapper h3,
.ol--info--wrapper h5 {
    line-height: 0.5;
    padding: 0px;
}