.whyChooseUs__container {
    position: relative;
    margin: 0 auto;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F4F1EA;
    overflow: hidden;
}

.whyChooseUs__heading--wrapper {
    margin: 0 auto;
}

.whyChooseUs__heading,
.whyChooseUs__subheading {
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.whyChooseUs__subheading {
    max-width: 629px;
    line-height: 1.5;
}

.wcu__card--wrapper {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.whyChooseUs__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 18px;
    padding: 1% 2%;
    background-color: #DDC7BB;
    aspect-ratio: 1 / 1;
    width: 275px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, .15);
}

.icon__bg {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #FBF5F1;
    border-radius: 8px;
    height: 63px;
    width: 63px;
    padding: 10px;
}

.card__icon {
    width:55%;
    height: auto;
    align-items: center;
    justify-content: center;
    color: #2B1B12;
}

.handshake__icon {
    width: 75%;
}

.wcu__text--wrapper {
    margin: 0;
    padding: 0;
}

.card__title {
    margin-bottom: 10px;
}

.card__descr {
    margin: 0;
    color: #4F3527;
}

@media screen and (max-width: 1350px) {
    .wcu__card--wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 30px;
    }

    .whyChooseUs__card {
        width: 90%; 
        max-width: 275px; 
        margin: auto;
        padding: 20px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 575px) {
    .wcu__card--wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .whyChooseUs__card {
        display: flex;
        justify-content: center;
    }
}


