/* Carousel Container */
.carousel--images {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px; /* Maintain consistent height for landscape */
    position: relative;
    margin: 0 auto;
}

/* Carousel Image */
.carousel--image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
  width: 50%;  
  height: 90%;
  border-radius: 20px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Current Image */
.current {
  left: 50%;  
  transform: translate(-50%, -50%);
  z-index: 3; /* Highest priority */
  opacity: 1; /* Full opacity for current image (New) */
  transition: transform 0.5s ease-in-out;
}

/* Hover Effect for Main Image (Current) */
.current:hover {
  transform: translate(-50%, -50%) scale(1.01);  
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.7); 
}

/* Behind Image 1 (Closer to the main image) */
.behind {
  left: 30%;
  transform: translate(-50%, -50%) scale(0.85);
  opacity: 1;
  z-index: 2;
  filter: blur(1px);
}

/* Previous Image 1 (Furthest back on the left) */
.previous {
  left: 10%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 1;
  z-index: 1;
  filter: blur(2px); 
}

/* Next Image 1 (Closer to the main image on the right) */
.next {
  left: 70%;
  transform: translate(-50%, -50%) scale(0.85);
  opacity: 1;
  z-index: 2;
  filter: blur(1px);
}

/* Next Image 2 (Furthest back on the right) */
.next--far {
  left: 90%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 1;
  z-index: 1;
  filter: blur(2px); 
}


/* Container of the arrow keys + dots */
.carousel--dots--container {
  display: flex;
  align-items: center; /* Center the dots and arrows vertically */
  justify-content: center; /* Center everything horizontally */
  margin-top: 20px;
}

/* Arrow Keys */
.carousel--arrow--left,
.carousel--arrow--right {
  background: none;       
  border: none;        
  padding: 10px;
  font-size: 20px;          
  cursor: pointer;  
  outline: none;      
  display: flex;          
  justify-content: center; 
  align-items: center;   
}

.carousel--arrow--left:hover,
.carousel--arrow--right:hover { 
  color: #a92f07bd;  
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

/* Dots */
.carousel--dots {
  display: flex;
  justify-content: center; 
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #bbbbbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot.active {
  background-color: #510499;
  transform: scale(1.2);
}

.dot:hover {
  background-color: #8503ff;
}
