#landscapeH__container {
    position: relative;
    width: 100%;
    height: 92vh;
    background-color: #F4F1EA;
}

.landscapeH__wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}


.landscapeH__sect {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landscapeH__heading {
    max-width: 60%;
    font-size: 36px;
    text-align: center;
    font-family: Lora, sans-serif;
    font-weight: 600;
    font-style: italic;
}

.landscapeH__subheading {
    max-width: 384px;
    text-align: center;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: italic;
}


.landscapeH__right {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}

.landscapeH__right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 50% darkness */
}

.landscapeH__img {
    width: 85%;
    height: auto;
    position: absolute;
    top: 25.64%;
    left: -18%;
    z-index: 2; 
}

@media screen and (max-width: 1200px) {
    .landscapeH__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .landscapeH__sect {
        width: 100%;
    }

    .landscapeH__right {
        width: 100%;
        height: auto;
    }

    .landscapeH__right::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
    }

    .landscapeH__img {
        display: none;
    }
}