#projects--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.city--container {
    position: relative;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    border-radius: 16px;
  }
  
  .city--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(15px);
    transition: filter 0.5s ease-in-out;
    border-radius: 8px;
  }
  
  .city--content {
    position: relative;
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
  }

  .city--content h2,
  .city--content p {
    color: white;
  }
  
  .explore--btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #DDA93B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .explore--btn:hover {
    background-color: #f48b64;
  }
  
  /* Hover effect */
  .city--container:hover .city--image {
    filter: blur(0);
  }
  
  /* Hides the button too */
  /* .city--container:hover .city--content {
    opacity: 0;
  } */

  /* If you want to keep the button visible */

  .city--container:hover .city--content h2,
  .city--container:hover .city--content p {
      opacity: 0;
  }

  /* Tablets (iPads, 768px and up) */
@media (max-width: 1024px) {
  .city--container {
      height: 400px; /* Reduce height */
  }

  .city--content h2 {
      font-size: 1.5rem; /* Scale down heading */
  }

  .city--content p {
    font-size: 0.9rem;
    line-height: 20px;
  }
}

/* Mobile Devices (Phones, 767px and below) */
@media (max-width: 767px) {
  #projects--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 100px;
  }
  .city--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .city--container {
    width: 95%;
    height: 300px;
    flex-direction: column; 
    text-align: center;
  }

  .city--content h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .city--content p {
    font-size: 0.9rem;
    margin-bottom: 5px;
    line-height: 20px;
  }

  .explore--btn {
    font-size: 0.9rem;
  }

  .hover-enabled:hover .city--image {
    filter: blur(0);
  }
  
  .hover-enabled:hover .city--content h2,
  .hover-enabled:hover .city--content p {
    opacity: 0;
  }  
}
